[class*="childWrapper"]:has(path) path {
  display: none !important;
}
[class*="childWrapper"]:has(path)::before {
  content: "";
  margin-left: 3px;
  border-radius: 50%;
  position: absolute;
  width: 32px;
  height: 32px;
  transition: 0.2s ease;
  opacity: 0.5;
  image-rendering: pixelated;
  background-image: url("https://raw.githubusercontent.com/adryd325/oneko.js/14bab15a755d0e35cd4ae19c931d96d306f99f42/oneko.gif");
  animation: sleep 1s infinite 2s;
}

[class*="childWrapper"]:has(path):hover::before {
  opacity: 1;
}
@keyframes sleep {
  0%, 50% {background-position: -64px 0;}
  50.00001%, 100% {background-position: -64px -32px;}
}
