:root {
  --bg-color: black;

  --panel-radius: 10px;

  --order-quests: 0;
  --order-listening: 1;
  --order-stream: 2;
  --order-spotify-player: 3;
  --order-voice: 4;
  --order-profile: 5;

  --grabber-height: 0.4;
}


[class*="panels"][aria-label*="User"]  {
  display: flex;
  flex-direction: column;
  background: var(--bg-color);
  border: 1px solid var(--border-subtle);
  border-radius: var(--panel-radius);
}

[class*="panels"][aria-label*="User"] > [class*="mask"] {
  order: var(--order-quests);
  margin-inline: 0;
  padding-inline: 0;
}

[class*="panels"][aria-label*="User"] > [class*="mask"] > [class*="wrapper"],
[class*="panels"][aria-label*="User"] > [class*="mask"] > [class*="wrapperVisible"] {
  border-radius: var(--panel-radius);
}

[class*="listeningAlong"] {
  order: var(--order-listening);
}
[class*="panels"][aria-label*="User"] > [class*="panel"] {
  order: var(--order-stream);
  padding: calc(var(--custom-guild-list-padding) - var(--custom-panels-spacing) + 3px);
}

[class*="panels"][aria-label*="User"] > [class*="wrapper"] {
  order: var(--order-voice);

  &:not(:has[class*="container"]) {
    display: none;
  }

[class*="container"] {
    min-height: 90px;
  }
}

[class*="panels"][aria-label*="User"] > [class*="container"] {
  order: var(--order-profile);

  &:has[class*="plated"] {
    border: none;
  }
}

#vc-spotify-player {
  order: var(--order-spotify-player);
  position: relative;
  overflow: hidden;
  background: var(--bg-color);

  [class*="bar"] > [class*="barFill"] {
    background-color: var(--vc-spotify-green) !important;
  }

  .vc-spotify-repeat-context,
  .vc-spotify-repeat-track,
  .vc-spotify-shuffle-on {
    span {
      color: var(--vc-spotify-green);
    }
    svg {
      fill: var(--vc-spotify-green);
    }
  }

  .vc-spotify-progress-time {
    margin-top: 10px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    transition: all 0.4s ease-out;
    z-index: -1;
  }
}

#vc-spotify-song-title {
  color: var(--vc-spotify-green);
}

#vc-spotify-info-wrapper {
  display: flex;
  flex-direction: row;
  align-items: start;
  height: 4.2em;
}

#vc-spotify-album-title {
  display: none !important;
}

#vc-spotify-info-wrapper #vc-spotify-album-image {
  pointer-events: none;
}

#vc-spotify-progress-bar {
  width: calc(100% - 78px);
  margin: -2.2em 0 0 77px;
}

[class*="grabber"] {
  height: calc(var(--grabber-size) * var(--grabber-height)) !important;
  border-radius: 5px !important;
  margin-top: calc((var(--grabber-size) * var(--grabber-height)) / -2 + var(--bar-offset)/2) !important;
}

.vc-spotify-progress-time {
  font-size: 11px;
}

[class*="postEnrollmentBackground"] {
  background-image: none !important;
  background-color: var(--bg-color);
}
[class*="wrapper"] > [class*="contentWrapper"] > [class*="wrapper"] {
    box-sizing: border-box;
    height: 148px;
    border-bottom: 1px solid #242426;
}

[class*="panels"][aria-label*="User"] > [class*="activityPanel"] {
    background-color: black;
}
