:root {
  --bg-color: black;

  --panel-radius: 10px;

  --order-quests: 0;
  --order-listening: 1;
  --order-stream: 2;
  --order-spotify-player: 3;
  --order-voice: 4;
  --order-profile: 5;

  --grabber-height: 0.4;
}

._5e434347c823b592-panels {
  display: flex;
  flex-direction: column;
  background: var(--bg-color);
  border: 1px solid var(--border-subtle);
  border-radius: var(--panel-radius);
}

._0d6162a4e6a4b802-mask {
  order: var(--order-quests);
  margin-inline: 0;
  padding-inline: 0;
}

._0d6162a4e6a4b802-wrapper,
._0d6162a4e6a4b802-wrapperVisible {
  border-radius: var(--panel-radius);
}

.e0cf275d59896c00-listeningAlong {
  order: var(--order-listening);
}

._5dec784a68542d60-panel {
  order: var(--order-stream);
  padding: calc(var(--custom-guild-list-padding) - var(--custom-panels-spacing) + 3px);
}

.e131a99484292a19-wrapper {
  order: var(--order-voice);

  &:not(:has(.e131a99484292a19-container)) {
    display: none;
  }

  .e131a99484292a19-container {
    min-height: 90px;
  }
}

._37e49614b9f110a9-container {
  order: var(--order-profile);

  &:has(.plated_37e49) {
    border: none;
  }
}

#vc-spotify-player {
  order: var(--order-spotify-player);
  position: relative;
  overflow: hidden;
  background: var(--bg-color);

  .a562c840daab72a7-barFill {
    background-color: var(--vc-spotify-green) !important;
  }

  .vc-spotify-repeat-context,
  .vc-spotify-repeat-track,
  .vc-spotify-shuffle-on {
    span {
      color: var(--vc-spotify-green);
    }
    svg {
      fill: var(--vc-spotify-green);
    }
  }

  .vc-spotify-progress-time {
    margin-top: 10px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    transition: all 0.4s ease-out;
    z-index: -1;
  }
}

#vc-spotify-titles {
  color: var(--vc-spotify-green);
}

#vc-spotify-info-wrapper {
  display: flex;
  flex-direction: row;
  align-items: start;
  height: 4.2em;
}

#vc-spotify-album-title {
  display: none !important;
}

#vc-spotify-progress-bar {
  width: calc(100% - 78px);
  margin: -2.2em 0 0 77px;
}

[class*="grabber"] {
  height: calc(var(--grabber-size) * var(--grabber-height)) !important;
  border-radius: 5px !important;
  margin-top: calc((var(--grabber-size) * var(--grabber-height)) / -2 + var(--bar-offset)/2) !important;
}

.vc-spotify-progress-time {
  font-size: 11px;
}

._24e2c2ebe64fd7d3-postEnrollmentBackground {
  background-image: none !important;
  background-color: var(--bg-color);
}
.c4293be9bb86ed7d-wrapper {
    box-sizing: border-box;
    height: 148px;
    border-bottom: 1px solid #242426;
}
