/*Idle*/

[class*="memberInner"]:has([class*="avatar"] [aria-label*="Idle"]) svg path[fill="#45a366"],
[class*="channel"]:has([class*="avatar"] [aria-label*="Idle"]) svg path[fill="#45a366"],
[class*="peopleListItem"]:has([class*="avatar"][aria-label*="Idle"]) svg path[fill="#45a366"] {
  fill: #ffc04e !important;
}

[class*="memberInner"]:has([class*="avatar"] [aria-label*="Idle"]) [class*="activityCounter"][style*="var(--status-positive)"],
[class*="channel"]:has([class*="avatar"] [aria-label*="Idle"]) [class*="activityCounter"][style*="var(--status-positive)"],
[class*="peopleListItem"]:has([class*="avatar"][aria-label*="Idle"]) [class*="activityCounter"][style*="var(--status-positive)"] {
  color: #ffc04e !important;
}

/*DND*/

[class*="memberInner"]:has([class*="avatar"] [aria-label*="Do Not Disturb"]) svg path[fill="#45a366"],
[class*="channel"]:has([class*="avatar"] [aria-label*="Do Not Disturb"]) svg path[fill="#45a366"],
[class*="peopleListItem"]:has([class*="avatar"][aria-label*="Do Not Disturb"]) svg path[fill="#45a366"] {
  fill: #da3e44 !important;
}

[class*="memberInner"]:has([class*="avatar"] [aria-label*="Do Not Disturb"]) [class*="activityCounter"][style*="var(--status-positive)"],
[class*="channel"]:has([class*="avatar"] [aria-label*="Do Not Disturb"]) [class*="activityCounter"][style*="var(--status-positive)"],
[class*="peopleListItem"]:has([class*="avatar"][aria-label*="Do Not Disturb"]) [class*="activityCounter"][style*="var(--status-positive)"] {
  color: #da3e44 !important;
}

/*Streaming*/

[class*="memberInner"]:has([class*="avatar"] [aria-label*="Streaming"]) svg path[fill="#45a366"],
[class*="channel"]:has([class*="avatar"] [aria-label*="Streaming"]) svg path[fill="#45a366"],
[class*="peopleListItem"]:has([class*="avatar"][aria-label*="Streaming"]) svg path[fill="#45a366"] {
  fill: #9147ff !important;
}

[class*="memberInner"]:has([class*="avatar"] [aria-label*="Streaming"]) [class*="activityCounter"][style*="var(--status-positive)"],
[class*="channel"]:has([class*="avatar"] [aria-label*="Streaming"]) [class*="activityCounter"][style*="var(--status-positive)"],
[class*="peopleListItem"]:has([class*="avatar"][aria-label*="Streaming"]) [class*="activityCounter"][style*="var(--status-positive)"] {
  color: #9147ff !important;
}
