:root {
  --idle-color: #ffc04e;
  --dnd-color: #da3e44;
  --streaming-color: #9147ff;
}

/*Idle*/

[class*="memberInner"]:has([class*="avatar"] [aria-label*="Idle"]) svg path[fill="#45a366"],
[class*="channel"]:has([class*="avatar"] [aria-label*="Idle"]) svg path[fill="#45a366"],
[class*="peopleListItem"]:has([class*="avatar"][aria-label*="Idle"]) svg path[fill="#45a366"] {
  fill: var(--idle-color) !important;
}

[class*="memberInner"]:has([class*="avatar"] [aria-label*="Idle"]) [class*="activityCounter"][style*="var(--status-positive)"],
[class*="channel"]:has([class*="avatar"] [aria-label*="Idle"]) [class*="activityCounter"][style*="var(--status-positive)"],
[class*="peopleListItem"]:has([class*="avatar"][aria-label*="Idle"]) [class*="activityCounter"][style*="var(--status-positive)"] {
  color: var(--idle-color) !important;
}

/*DND*/

[class*="memberInner"]:has([class*="avatar"] [aria-label*="Do Not Disturb"]) svg path[fill="#45a366"],
[class*="channel"]:has([class*="avatar"] [aria-label*="Do Not Disturb"]) svg path[fill="#45a366"],
[class*="peopleListItem"]:has([class*="avatar"][aria-label*="Do Not Disturb"]) svg path[fill="#45a366"] {
  fill: var(--dnd-color) !important;
}

[class*="memberInner"]:has([class*="avatar"] [aria-label*="Do Not Disturb"]) [class*="activityCounter"][style*="var(--status-positive)"],
[class*="channel"]:has([class*="avatar"] [aria-label*="Do Not Disturb"]) [class*="activityCounter"][style*="var(--status-positive)"],
[class*="peopleListItem"]:has([class*="avatar"][aria-label*="Do Not Disturb"]) [class*="activityCounter"][style*="var(--status-positive)"] {
  color: var(--dnd-color) !important;
}

/*Streaming*/

[class*="memberInner"]:has([class*="avatar"] [aria-label*="Streaming"]) svg path[fill="#45a366"],
[class*="channel"]:has([class*="avatar"] [aria-label*="Streaming"]) svg path[fill="#45a366"],
[class*="peopleListItem"]:has([class*="avatar"][aria-label*="Streaming"]) svg path[fill="#45a366"] {
  fill: var(--streaming-color) !important;
}

[class*="memberInner"]:has([class*="avatar"] [aria-label*="Streaming"]) [class*="activityCounter"][style*="var(--status-positive)"],
[class*="channel"]:has([class*="avatar"] [aria-label*="Streaming"]) [class*="activityCounter"][style*="var(--status-positive)"],
[class*="peopleListItem"]:has([class*="avatar"][aria-label*="Streaming"]) [class*="activityCounter"][style*="var(--status-positive)"] {
  color: var(--streaming-color) !important;
}
